<div class="row">
    <div class="col-sm-3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="70">
            <li class="active"><a data-href="#overview">Overview<i class="icon-chevron-right"></i></a></li>
            <li><a data-href="#global-variable">全局变量<i class="icon-chevron-right"></i></a></li>
            <li><a date-href="#mixins">Mixins<i class="icon-chevron-right"></i></a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <section id="overview">
            <div class="page-header">
                <h1>Overview</h1>
            </div>

            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </section>
        <section id="global-variable">
            <div class="page-header">
                <h1>全局变量</h1>
            </div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </section>
        <section id="mixins">
            <div class="page-header">
                <h1>Mixins</h1>
            </div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </section>
    </div>
</div>