// default style for all element in body
body{
  font-family: @font-family-default;
  font-size: @font-size-content;
  color: @font-color-content;
//  box-sizing: @box-sizing-default;
}
// style for hyperlink
a, a:link, a:visited, a:active{
  color: @link-default-color;
  text-decoration: @a-text-decoration;
}
a:hover{
  color: @link-hover-color;
  text-decoration: @a-text-decoration;
}
// font for number
.text-number{font-family: @font-family-number;}
// style for special text
.text-price{color: @price-font-color; &:extend(.text-number);}
.text-emphasize{color: @emphasize-font-color;}
.text-warning{color: @warning-font-color;}

// 布局相关
@sidebar-width: 150px;
@maincontainer-margin: 20px;
.maincontainer{
  position: absolute;
  top: @maincontainer-margin;
  right: @maincontainer-margin;
  bottom: @maincontainer-margin;
  left: @maincontainer-margin + @sidebar-width;
  overflow: hidden;
  margin-left: 0;         //  为覆盖comm_css.css文件样式,最后应删除
  padding: 0;             //  为覆盖comm_css.css文件样式,最后应删除
}

// 标题相关
.title-font-style{
  font-size: @font-size-title;
  color: @font-color-title;
}

.title-with-prefix-icon{
  &:extend(.title-font-style);
  background: url("@{img-url}all.png") no-repeat scroll -485px -143px transparent;
  display: inline-block;
  line-height: 25px;
  margin-right: 16px;
  text-indent: 15px;
}

// button
// --button base
.button{
  line-height: @button-height;
  text-align: @button-text-align;
  vertical-align: @button-vertical-align;
  border-radius: @button-radius;
  font-size: @button-font-size;
  color: @button-font-color;
  width: @button-width;
  box-shadow: @button-shadow;
  height: @button-height;
  display: @button-display;
  &:hover{
    color: @button-font-color;
  }
  &:active{
    color: @button-font-color;
  }
  &:visited{
    color: @button-font-color;
  }
}
// ----button sure
.button-sure{
  .button;
  .linear-gradient(top, @lnitial-button-sure-startColor, @lnitial-button-sure-endColor);
  &:hover{
    color: @button-font-color;
    .linear-gradient(top, @hover-button-sure-startColor, @hover-button-sure-endColor);
  }
  &:active{
    color: @button-font-color;
    .linear-gradient(top, @active-button-sure-startColor, @active-button-sure-endColor);
  }
  .button-unclickable{
    .linear-gradient(top, @unclickable-button-startColor, @unclickable-button-endColor);
  }
}
// ----button cancel
.button-cancel{
  .button;
}
// ----button unclickable
.button-unclickable{
  .linear-gradient(top, @unclickable-button-startColor, @unclickable-button-endColor);
  .button;
}