// tab 1
.tab-title {
  border-bottom: 1px solid @tab-border-hover-color;
  font-size: @font-size-tab;
  padding:0;
  li{
    background-color: @tab-hover-background-color;
    border-color: @tab-border-color @tab-border-color @tab-border-hover-color;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    bottom: -1px;
    color: @font-color-tab;
    cursor: pointer;
    float: left;
    margin-right: 3px;
    max-width: 116px;
    overflow: hidden;
    padding: 5px 30px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    .tab-close{
      background: url("@{img-url}all.png") no-repeat scroll 0 -291px rgba(0, 0, 0, 0);
      height: 12px;
      position: absolute;
      right: 2px;
      top: 3px;
      width: 12px;
      &:hover{
        background-position: -490px -291px;
      }
    }
  }
  .hover{
    background-color: #fff;
    border-color: @tab-border-hover-color @tab-border-hover-color transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: @font-color-tab-hover;
    z-index: 1;
  }
}

// tab 2
.tab-btn-title{
  border: @tab-btn-border;
  padding: 0;
  background-color: @tab-btn-background-color;
  li{
    float: left;
    overflow: hidden;
    padding: 10px 31px;
    font-size: @font-size-tab;
    color: @tab-btn-font-color;
    cursor: pointer;
    position: relative;
    left: -1px;
    &:hover{
      padding: 10px 30px;
      border-left: @tab-btn-border;
      border-right: @tab-btn-border;
      background-color: @tab-btn-hover-background-color;
    }
  }
  .hover{
    background-color: @tab-btn-active-background-color;
    color: @tab-btn-active-font-color;
    border-left: @tab-btn-border;
    border-right: @tab-btn-border;
    padding: 10px 30px;
  }
}

// pagination
.pDiv {
  .linear-gradient(top, @pagination-linear-color-start, @pagination-linear-color-end);
  border: @pagination-border;
  color: @pagination-font-color;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  .pDiv2 {
    float: right;
    margin: 5px 3px 3px;
  }
  .pGroup {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0 5px;
    font-size: @font-size-content;
  }
  .pButton {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 20px;
    overflow: hidden;
    width: 20px;
    background: url("@{img-url}/pagination-icon.png") no-repeat scroll;
    span {
      display: block;
      float: left;
      height: 20px;
      width: 20px;
    }
  }
  .pcontrol {
    overflow: visible;
    position: relative;
    input {
      background-color: #fffffb;
      border: 1px solid #d9d9d9;
      height: 20px;
      line-height: 20px;
      padding: 2px;
      position: relative;
      text-align: center;
      width: 39px;
    }
  }
  .pReload {
    background-position: 0 -78px;
  }
  .pFirst {
    background-position: 0 1px;
    &:hover{
      background-position: -20px 1px;
    }
  }
  .pPrev {
    background-position: 0 -18px;
    &:hover{
      background-position: -20px -18px;
    }
  }
  .pNext {
    background-position: 0 -38px;
    &:hover{
      background-position: -20px -38px;
    }
  }
  .pLast {
    background-position: 0 -58px;
    &:hover{
      background-position: -20px -58px;
    }
  }
}