//img url
@img-url: 'img/';
// default font family
@font-family-default: '微软雅黑';
@font-family-number: Tahoma;
// font style for titile
@font-size-title: 18px;
@font-color-title: #2d2d2d;
// font style for content
@font-size-content: 12px;
@font-color-content: #3d3d3d;
// font color for link
@link-default-color: #0083ba;
@link-hover-color: #00aaf1;
// special font color
@price-font-color: #ff7815;
@emphasize-font-color: #ff5500;
@warning-font-color: red;
// box-sizing
@box-sizing-default: border-box;
// Tab component
@font-size-tab: 13px;
@font-color-tab: #145681;
@font-color-tab-hover: #3d3d3d;
@tab-border-hover-color: #33b5e5;         // border color of active tab
@tab-border-color: #e8e8e8;                // border color of tab
@tab-hover-background-color: #fff;        // background color of active tab
@tab-background-color: #f5f5f5;           // background color of tab
